header{
    background:linear-gradient(0.25turn,red,blue);
    width:100%;
    text-align:center;
    color:white;
    font-weight:bold;
}

header a{
    margin:0px 20px;
    color:white;
    cursor:pointer;
    font-weight:bold;
    text-decoration:none;
}


header a:hover{
    margin:0px 20px;
    color:white;
    cursor:pointer;
    font-weight:bold;
    text-decoration:none;
}